<div class="notifications-container">
  <h2>Notifikacije</h2>

  <div *ngIf="loading">Učitavanje...</div>
  <div *ngIf="error">{{ error }}</div>

  <div *ngIf="!loading && notifications.length === 0">
    Nema notifikacija.
  </div>

 <ul *ngIf="!loading && notifications.length > 0">
  <li *ngFor="let notif of notifications" [class.read]="notif.is_read">
    <strong>{{ notif.title }}</strong>
    <p>{{ notif.message }}</p>
    <small>Datum Obroka:{{ formatDate(notif.datum_jelovnika) }}</small>
      <button *ngIf="!notif.is_read" (click)="markAsRead(notif)">Označi kao pročitano</button>
    </li>
  </ul>
</div>

